body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  /* height: 100vh; */
  padding: 30px;
  background: linear-gradient(to right, rgba(242, 242, 242, 1) 0%, rgba(178, 178, 178, 1) 51%, rgba(242, 242, 242, 1) 100%);
  background-image: url("../../static/assets/malta-landscape_opt.jpg");
  background-size: cover;
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.app {
  display: inline-block;
  text-align: center;
  max-height: 450px;
  width: 550px;
  padding: 0px;
  margin: auto;
}

.header {
  padding-left: .3em;
  color: white;
  height: 10vh;
  margin: 0
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header h1 {
  margin: 0px;
  padding: .2em;
}

.weather {
  width: 100%;
  margin: 0px;
  align-items: center
}

.weather-header h2 {
  color: white;
  font-style: italic;
  margin: 0px;
}


/*******************/
/**** footer *******/
/*******************/

.footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-links {
  color: #fff;
}

.footer-links a {
  color: #fff;
  margin-right: 0.3em;
}

.footer-links a:hover {
  text-decoration: none;
}

/*******************/
/* current weather */
/*******************/

.weather-current {
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}


.current-conditionBox {
  font-size: 2em;
  color: #999;
  font-style: bold;
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
  /******** GRID *********/
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px 5px;
  justify-items: center;
  align-items: start;
}


.current-sky {
  font-size: 0.7em;
  position: relative;
}

.current-sky img {
  position: absolute;
  top: -20px;
  right: 10px;
  width: 100px;
  margin: 0;
  padding: 0;
}

.current-description {
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 3em;
  margin-left: 1em;
}

.current-temp {

  vertical-align: text-top;
  text-align: center;
  font-size: 1.5em;
  color: #FFD61C;
  font-weight: 700;

}


.current-date {
  padding-right: 0.5em;
  color: #999;
  font-style: italic;
  font-size: .7em;
  margin: 0px;
  vertical-align: text-top;
}

.current-time {
  padding-right: 0.5em;
  color: #999;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0px;
  vertical-align: text-top;
}

.current-description:first-letter {
  text-transform: uppercase;
}

.unit {
  font-size: 0.5em;
  padding-left: 0.2em;
}

.unit-link:hover {
  text-decoration: none;
  color: #999;
}

.unit-link:visited {
  color: #999;
}

/*************/
/* forecast */
/*************/

.weather-forecast {
  display: block;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .6em;
  background-color: #3891DD;
  border-radius: 0 0 10px 10px;
}

.forecast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.forecast-conditionBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  font-size: 2em;
  color: white;
  font-style: bold;
  width: 15%;
  height: 100%;
  margin: 5px 5px;
  padding: .5em 0.1em;
}

.forecast-day {
  font-size: 0.5em;
}

.forecast-description {
  font-size: 0.5em;
}

.forecast-description:first-letter {
  text-transform: uppercase;
}

.forecast-temp {
  font-size: 0.5em;
}

.forecast-temp-max {
  padding-top: 0.3em;
}

.forecast-unit-link {
  color: white;
}

.forecast-unit-link:hover {
  text-decoration: none;
}

/*********************/
/* Articles content */
/********************/

.article {
  width: 100%;
  margin: 0px;
}

.article-content {
  text-align: left;
  align-items: left;
  padding: 0 .5em;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}

/*****************/
/* Media Queries */
/*****************/

@media all and (max-width: 480px) {
  .wrapper {
    padding: 0;
    /* height: 200vh; */
  }

  .weather {
    max-width: 90vw;
  }

  .app {
    max-width: 90vw;
  }

  .current-conditionBox {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px 5px;
    justify-items: center;
    align-items: start;
  }

  .current-sky img {
    width: 100%;
    position: static;
  }

  .current-description {
    margin-top: 0em
  }

  .forecast-conditionBox {
    margin: 5px 15px;
  }
}